
@using FronttoBack.ViewModels


@{
    ViewData["Title"] = "Index";
}

<section class="secat">

    <div class="secca">

        @foreach (Slide slide in Model.Slides)
        {
            <img class="img-fluid" src="~/image/@slide.Image/
                 942-unsplash.jpg" alt="">

        }
        <h1>Blog</h1>

        <p class="pblog">As am hastily invited settled at limited civilly fortune me. Really spring in extent an by. Judge but built party world. Of so am he remember although required. Bachelor unpacked be advanced at. Confined in declared marianne is vicinity.


    </div>

</section>
div class="card">
<div class="container overflow-hidden">
    <div class="row mx-lg-n5">

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/christopher-campbell-28571-unsplash.jpg" alt=""></a>
                <h6>Pellentesque habitant morbi</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347942-unsplash.jpg" alt=""></a>
                <h6>Best books about Fashion</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347962-unsplash.jpg" alt=""></a>
                <h6>Best books about Fashion</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/matheus-ferrero-334418-unsplash.jpg" alt=""></a>
                <h6>Autumn fashion tips and tricks</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/photo-1534126511673-b6899657816a.jpg" alt=""></a>
                <h6>Newest photo apps</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/rahul-anil-214671-unsplash.jpg" alt=""></a>
                <h6>Best books about Photography</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347942-unsplash.jpg" alt=""></a>
                <h6>Best books about Fashion</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/christopher-campbell-28571-unsplash.jpg" alt=""></a>
                <h6>Pellentesque habitant morbi</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

        <div class="col-lg-4 col-sm-6 mb-5 px-lg-5">
            <div data-aos="zoom-in" class="aos-init aos-animate">
                <a class="d-block mb-4" href="post.html"><img class="img-fluid" src="https://d19m59y37dris4.cloudfront.net/varkala/1-2-1/img/blog/ian-dooley-347962-unsplash.jpg" alt=""></a>
                <h6>Best books about Fashion</h6>
                <p class="text-gray-500 text-sm"><a class="text-uppercase text-xs mr-2" href="#">Fashion and style</a>January 16, 2019</p>
            </div>
        </div>

    </div>

    <nav aria-label="Blog pagination">
        <ul class="pagination justify-content-between mb-5">
            <li class="page-item"><a class="page-link" href="#"> <i class="fa fa-chevron-left mr-1"></i>Older posts</a></li>
            <li class="page-item disabled"><a class="page-link" href="#" tabindex="-1">Newer posts  <i class="fa fa-chevron-right ml-1">                </i></a></li>
        </ul>
    </nav>
</div>

</div>

